---
import Layout from "../layouts/Layout.astro";
import ContentCard from "../components/ContentCard.astro";

import { getCollection } from "astro:content";

interface BlogPost {
  data: {
    title: string;
    description: string;
    pubDate: string;
    featured: boolean;
  };
  slug: string;
}

const posts = (await getCollection("blog")) as BlogPost[];

const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});

const latest = sortedPosts.slice(0,3)
---

<Layout title="Home | Kurtis Kemple">
  <div class="container mx-auto px-4">
    <div class="mb-24 lg:mb-48">
      <div class="text-center">
        <h1 class="text-5xl lg:text-7xl mb-6">Hey, I'm Kurt.</h1>
        <p
          class="text-3xl lg:text-5xl mb-12 font-heading max-w-2xl mx-auto"
          style="line-height: 1.15;"
        >
          <span>I'm a</span>
          <span class="text-honey-crusted-chicken">
            formerly incarcerated
          </span>
          <span>tech leader, photographer, creator, and</span>
          <span class="text-autumn-fire">advocate</span>
          <span>for second chances.</span>
          <span class="block text-lg -rotate-2 mt-1 font-sans font-semibold"
            >(lately I've been getting into democratizing <span
              class="text-autumn-fire">AI</span
            >)</span
          >
        </p>
      </div>
    </div>

    <h3 id="must-read" class="mb-8 text-4xl text-raptures-light">
      Latest Writings
    </h3>

    <div class="mb-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {latest.map((post) => (
        <ContentCard
          slug={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))}
    </div>

    <div class="my-24 flex justify-center">
      <div class="w-1/2 h-1 bg-honey-crusted-chicken rounded-full"></div>
    </div>

    <h3 class="text-4xl font-semibold mb-8 text-raptures-light" id="guides">
      The Developer Advocate's Guides
    </h3>

    {/* Repeat this pattern for each ContentCard */}
    <div class="mb-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <ContentCard
        slug="developer-advocates-guide-to-metrics-and-reporting"
        title="The Developer Advocate's Guide to Metrics and Reporting"
        description="As developer advocates, avoid becoming extensions of other teams by closely learning metrics: the different types you'll encounter and when to use them, which are trusted and untrusted, and how to build them effectively to support your team's goals."
      />
      <ContentCard
        slug="developer-advocates-guide-to-addressing-product-friction"
        title="The Developer Advocate's Guide to Addressing Product Friction"
        description="Over the last three months, we've been developing a framework at Apollo called DX Audits to help us identify, document, report, and address product friction. It was getting difficult to scale this part of developer advocacy so we came up with a framework and this post covers our experience with it and where we landed on the framework's implementation."
      />
      <ContentCard
        slug="developer-advocates-guide-to-content-creation"
        title="The Developer Advocate's Guide to Content Creation"
        description={`Have you ever felt overwhelmed by the idea of having to create that next blog post or YouTube video? Do you find yourself unable to finish things because you're not quite sure when to call it done? Are you adjusting your outlines or talking points on the fly? Learn how to create content more effectively by doing the work before the work.`}
      />
      <ContentCard
        slug="developer-advocates-guide-to-getting-buy-in"
        title="The Developer Advocate's Guide to Getting Buy-In"
        description={`Getting buy-in as a developer advocate is a unique challenge. We usually are not the owners or even direct contributors to what we're trying to change. Instead, we represent this bizarre ephemeral thing called a "community." In this post, I'll cover what buy-in is, how it applies to developer advocacy, what skills help the most when trying to get buy-in, and the processes I use.`}
      />
      <ContentCard
        slug="developer-advocates-guide-to-asking-for-things"
        title="The Developer Advocate's Guide to Asking for Things"
        description={`Whether we're trying to get buy-in internally or working on collaborations externally, we're generally in the business of asking. Learn how to get better results from your requests by rethinking the nature of relationships and following the three Rs of asking for things: Recognition, Request, and Reward.`}
      />
    </div>
  </div>
</Layout>
