---

---

<footer>
  <p class="text-center font-bold">
    Find a typo? Want to discuss something?<br />
    <a href="https://github.com/kkemple/kurtiskemple.com/discussions">
      Open an issue or discussion on GitHub!
    </a>
  </p>
</footer>
